@model Item
@using ProyectoNuevo.Models

<h2>Detalles del producto </h2>

<p><strong>ID:</strong> @Model.id</p>
<p><strong>Nombre:</strong> @Model.name</p>
<p><strong>Tipo:</strong> @Model.type</p>
<p><strong>STR</strong> @Model.STR</p>
<p><strong>AGI:</strong> @Model.AGI</p>
<p><strong>INTE:</strong> @Model.INTE</p>
<p><strong>MND:</strong> @Model.MND</p>
<p><strong>VIT:</strong> @Model.VIT</p>